

@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-light {
  --color-primary: #F288B9;
  --color-secondary: rgb(242,164,69);
  --color-background: #fef55c;
  --color-text: #333333;
}

.theme-dark {
  --color-primary: #F288B9;
  --color-secondary: rgb(242,164,69);
  --color-background: #fef55c;
  --color-text: #333333;
}
